<div class="hero">
  <div class="container">

    <div class="left">
      <h1 class="h1">
        Hi, I'm <b> {{this.userModel.firstName}} {{this.userModel.lastName}}, </b> <br/>{{this.userModel.title}}
      </h1>

      <p class="h3">{{this.userModel.description}}</p>

      <div class="btn-group" id="driverOne">
        <a href="https://www.linkedin.com/in/ahmetguzeller11/" target="_blank"
          class="btn btn-primary">Contact Me
          <ion-icon name="call"></ion-icon>
        </a>
        <a href={{this.userModel.resume}} id="cvDrive" target="_blank"
          class="btn btn-secondary" >Download CV
          <ion-icon  name="cloud-download-sharp" ></ion-icon>
        </a>
      </div>
    </div>

    <div class="right">
      <div class="pattern-bg"></div>
      <div class="img-box">
        <img src="/assets/images/profile.png" class="hero-img" />
        <div class="shape shape-1"></div>
        <div class="shape shape-2"></div>
      </div>
    </div>
  </div>
</div>
<app-coursel></app-coursel>
